<h3><small>Parâmetros aceitos:</small></h3>
<ul class="params">
  <li>
    <span>title:</span>
    <small>(String)</small>
    Breve título do evento.
  </li>
  <li>
    <span>description:</span>
    <small>(Text)</small>
    Descrição longa do evento.
  </li>
  <li>
    <span>location:</span>
    <small>(String)</small>
    Local onde ocorerá o evento.
  </li>
  <li>
    <span>started_at:</span>
    <small>(DateTime)</small>
    Data e hora que começa o evento.
  </li>
  <li>
    <span>ended_at:</span>
    <small>(DateTime)</small>
    Data e hora que termina o evento.
  </li>
  <li>
    <span>all_day:</span>
    <small>(Boolean)</small>
    True se o evento dura o dia inteiro.
  </li>
</ul>
