<header>
  <div class="wrapper">
    <h1><%= link_to 'rCalendar', root_path %></h1>
    <nav>
      Exemplos em
      <ul>
        <li><a href="#" data-lang="curl" class="active">cURL</a></li>
        <li><a href="#" data-lang="ruby">Ruby</a></li>
        <li><a href="#" data-lang="jquery">jQuery</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="wrapper">
    <section>
      <p class="lean">
        Este é o guia do <a href="//github.com/leocamelo/rcalendar" target="_blank">rCalendar</a>,
        aqui vamos abordar as rotas da api v1, além de todas as suas funcionalidades e características.
      </p>
    </section>
    <%= render 'events_index' %>
    <%= render 'events_create' %>
    <%= render 'events_update' %>
  </div>
</main>
<footer>
  <div class="wrapper">
    <a href="//github.com/leocamelo/rcalendar" target="_blank">
      github/leocamelo/rcalendar
    </a>
  </div>
</footer>
